:root {
    --vanward-dark-orange: #F76F1F;
    --vanward-light-orange: #fad65f;
}

#sidebar {
    font-family: 'OpenSans-Light-webfont', sans-serif;
    background-color: #FFEBCD;
    padding: 8px;
}

#sidebar h5 {
    padding: 5px;
    color: #000000;
    /* White text color */
}

#sidebar hr {
    border-color: #000000;
}

#sidebar ul {
    padding: 5px;
    list-style: none;
    margin: 0;
}

#sidebar ul li {
    margin-bottom: 5px;
}

#sidebar ul li a {
    display: inline-block;
    padding: 8px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    /* White text color */
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
#sidebar ul li a.title {
    font-weight: 700;
}

#sidebar ul li a:hover,
#sidebar .current {
    background-color: var(--vanward-dark-orange);
    color: #ffffff;
    font-weight: 700;
    /* White text color */
}

#sidebar ul ul {
    padding: 5px;
    margin-top: 0px;
}

#sidebar ul ul li {
    margin-bottom: 0px;
    width: 100%;
    display: inline-flex;
}

/* Nested list indicators */
#sidebar ul ul li:before {
    content: "\203A";
    font-size: 25px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 3px;
    color: #000000;
    /* White text color */
}
#sidebar ul ul ul li:before {
    content: "\2212";
    margin-top: 7px;
    margin-left: 8px;
    margin-right: 3px;
    color: #000000;
    /* White text color */
}
