:root {
    --vanward-dark-orange: #F76F1F;
    --vanward-light-orange: #fad65f;
    --vanward-background: #1E2445;
    --vanward-text: #cccccc;
    --vanward-text-bold1: #e5e5e5;
    --vanward-text-hover: #ffffff;
    --vanward-text-hover-background: #F76F1F;



    --vanward-blue-light4: #afc6e7;
    --vanward-blue-light3: #7AA0D7;
    --vanward-blue-light2: #53749E;
    --vanward-blue-light1: #304366;
    --vanward-dark-blue: #1E2445;
    --vanward-blue-dark1: #0F1630;
    --vanward-blue-dark2: #081024;
    --vanward-blue-dark3: #040A1A;
}

/********************* navbar *********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OpenSans-Light-webfont';
}

nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: var(--vanward-background);
    padding-left: 20px;
    padding-right: 20px;
}

nav .wrapper {
    position: relative;
    max-width: 1000px;
    padding: 0px 0px;
    height: 80px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px !important;
}

.logo {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background-size: auto 40px;
}

.wrapper .logo a {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    margin: auto;
    background-color: var(--vanward-dark-orange);
    background-image: linear-gradient(45deg, var(--vanward-dark-orange), var(--vanward-light-orange));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.wrapper .nav-links {
    display: inline-flex;
    text-align: right'

}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: var(--vanward-text);
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    padding: 9px 15px;
    border-radius: 5px;
    display: inline-block;
    align-self: center;
    justify-self: center;
    text-align: center;
    overflow: hidden;
}

.nav-links li a:hover,
.content .row .mega-links li a:hover {
    color: #ffffff;
    background: var(--vanward-text-hover-background);
    transition: 0.3s ease,
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: #242526;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.nav-links li .drop-menu,
.nav-links li .mega-box {
    -webkit-transition: 0.3s ease;
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: hidden;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: var(--vanward-blue-dark1);
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row h6 {
    color: var(--vanward-text-bold1);
    font-size: 13px;
    font-weight: 900;
    justify-content: left;
    padding: 5px;
    border-bottom: 1px solid gray;
    text-align: left;
}

.content .row .mega-links {
    margin-left: 0px;
}

.row .mega-links li {
    padding: 0 0px;
}

.row .mega-links li a {
    padding: 10px 5px;
    color: var(--vanward-text);
    font-size: 13px;
    display: block;
    text-align: left;
}

.row .mega-links li a:hover {
    color: #000000;
}

.wrapper .btn {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 821px) {
    .wrapper .btn {
        display: block;
        color: var(--vanward-text-bold1);
    }

    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: var(--vanward-background);
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
    }

    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: var(--vanward-background);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--vanward-dark-orange);
    }

    #menu-btn:checked~.nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    #close-btn:checked~.btn.menu-btn {
        display: block;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 20px 20px;
        display: block;
        font-size: 20px;
        font-weight: 700;
    }

    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    #showDrop:checked~.drop-menu,
    #showPrivateBanking:checked~.mega-box {
        max-height: 100%;
    }

    #showDrop:checked~.drop-menu,
    #showInvestmentManagement:checked~.mega-box {
        max-height: 100%;
    }

    #showDrop:checked~.drop-menu,
    #showInvestorServices:checked~.mega-box {
        max-height: 100%;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        color: var(--vanward-text-bold1);
        font-size: 20px;
        font-weight: 700;
        padding: 15px 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover {
        background: var(--vanward-dark-orange);
    }

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }

    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid gray;
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega-links li {
        margin: 0;
    }

    .content .row header {
        font-size: 18px;
    }

    .content:hover {
        visibility: visible;
    }
}

/********************* sidebar *********************/
nav input {
    display: none;
}

.body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
}

.body-text div {
    font-size: 45px;
    font-weight: 600;
}

#sidebar {
    font-family: 'OpenSans-Light-webfont', sans-serif;
    /* background-image: linear-gradient(to bottom right, var(--vanward-blue-dark1), var(--vanward-blue-light3)); */
    background-color: var(--vanward-blue-dark1);
    padding: 8px;
}

#sidebar h5 {
    padding: 5px;
    color: var(--vanward-text-bold1);
    /* White text color */
}

#sidebar hr {
    border-color: gray;
}

#sidebar ul {
    padding: 5px;
    list-style: none;
    margin: 0;
}

#sidebar ul li {
    margin-bottom: 5px;
}

#sidebar ul li a {
    display: inline-block;
    padding: 8px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: var(--vanward-text);
    /* White text color */
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
#sidebar ul li a.title {
    font-weight: 700;
}

#sidebar ul li a:hover,
#sidebar .current {
    background-color: var(--vanward-text-hover-background);
    color: var(--vanward-text-hover);
    font-weight: 700;
    /* White text color */
}

#sidebar ul ul {
    padding: 5px;
    margin-top: 0px;
}

#sidebar ul ul li {
    margin-bottom: 0px;
    width: 100%;
    display: inline-flex;
}

/* Nested list indicators */
#sidebar ul ul li:before {
    content: "\203A";
    font-size: 25px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 3px;
    color: var(--vanward-text);
    /* White text color */
}
#sidebar ul ul ul li:before {
    content: "\2212";
    margin-top: 7px;
    margin-left: 8px;
    margin-right: 3px;
    color: var(--vanward-text);
    /* White text color */
}

/********************* footer *********************/
.footer{
	position:relative;
	display:block;
	width:100%;
	margin:0 auto;
	text-align:center;
    font-weight: 400;
	background:var(--vanward-dark-blue);
	padding-top:20px;
	padding-bottom:20px;
}
.footer img{
	width:auto;
	height:50px;
}

.footer p{
	font-size: 14px;
	line-height:18px;
	color: var(--vanward-text);
}
.footer p span{
	color:var(--vanward-text);
}
.footer .warning {
    text-align: left !important;
    padding: 10px 5px;
    border-bottom: 1px solid gray;
}

.footer .copyright {
    text-align: left !important;
    padding: 10px 5px;
}

.footer .warning p,
.footer .copyright p {
    padding: 5px 5px;
}

/********************* posts *********************/
.post2{
	background:var(--vanward-blue-light3);
	padding-top:50px;
}


/********************* card *********************/
.card {
    /* background-image: linear-gradient(to bottom left, var(--vanward-blue-light2), var(--vanward-blue-light3)); */
    background-color: var(--vanward-blue-light3);
    padding: 20px;
    margin: 15px;
    width: 290px;
    height: 270px;
    position: relative;
}
.card .card-title {
    text-align: left;
    padding-bottom: 10px;
}
.card .read-more {
    left: 0;
    bottom: 0 !important;
}
